* {
    box-sizing: border-box;
}

#openButton {
    background-color: aqua
};

#dialogBox {
    background-color: violet
};

#closeButton {
    background-color: coral
};

::backdrop {
    background-color: rgba(255,128,0,0.5);
};