@media (min-width: 768px) {
   .hamburger-menu {
      display: none;
   }

   nav ul {
      display: flex !important;
      flex-direction: row;
      justify-content: flex-end;
      background-color: transparent;
   }

   nav ul li {
      margin-left: 1rem;
   }

   nav ul li a {
      padding: 0.5rem 0.75rem;
      font-weight: bold;
   }

   #weather-section {
      flex: row;
      gap: 2rem;
   }

   #current-weather,
   #forecast-weather {
      flex: 1;
   }

   #forecast-weather div {
      display: inline-block;
      margin-right: 2rem;
      padding-right: 2rem;
      border-right: 1px solid #ddd;
      border-bottom: none;
   }

   #forecast-weather div:last-child {
      margin-right: 0;
      padding-right: 0;
      border-right: none;
   }

   .hero {
      padding: 5rem;
   }


   .cards {
      flex-direction: column;
   }

   .card {
      margin: 20px 0;
   }

   /* Highlighted reserves grid for large view */
   #highlighted-reserves {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
   }

   #highlighted-reserves div {
      flex: 1 1 300px;
      max-width: 400px;
   }

   /* Footer aligment on large screens*/
   footer {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
      padding: 2rem 4rem;
   }

   .footer-left,
   .footer-right {
      flex: 1;
   }

   .footer-right {
      text-align: right;
   }
}