* {
    box-sizing: border-box;
}

body {
    font: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2E4053;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav {
    background-color: #003300;
    padding: 1rem;
    color: white;
    position: relative;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #004400;
}

nav.show ul {
    display: flex;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}



nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.hamburger-menu span {
    display: block;
    height: 4px;
    background-color: white;
    border-radius: 2px;
}

.hero {
    background-image: url('https://i.postimg.cc/15TpnxT3/zdenek-machacek-Ux-Hol6-Sw-Ly-M-unsplash.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.hero-content h1, 
.hero-content h2 {
    margin: 0.5rem 0;
}

.hero .cta {
  background-color: #388e3c;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;  
}

#weather-section {
  padding: 1rem;
  background-color: #f4f4f4;  
}

#current-weather,
#forecast-weather {
  margin-bottom: 1rem;  
}

#highlighted-reserves {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;  
}

#highlighted-reserves div {
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: #ffffff;  
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgbaz(0, 0, 0, 0.1);
}

.highlights {
    background-color: #FFC107;
    padding: 20px;
    text-align: center;
}

/* Footer */
footer {
    padding: 2rem 1rem;
    background-color: #2E4053;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}