/* Larger Screen Styles */
@media screen and (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 2rem;
    }

    .hamburger {
        display: none;
    }

    .mainNav {
        position: static;
        display: flex;
        flex-direction: row;
        background-color: transparent;
        border: none;
        padding: 0;
        width: auto;
    }

    .mainNav a {
        margin-left: 1rem;
        border-bottom: none;
    }

    .card-container-large.grid-view {
        grid-template-columns: repeat(3, 1fr);
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-left,
    .footer-right {
        margin-bottom: 0;
    }
}

/* Cards Styling for Larger Screens */
#cards-container {
    grid-template-columns: repeat(3, 1fr);
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

@media screen and (min-width: 1024px) {
    .card-container-large.grid-view {
        grid-template-columns: repeat(4, 1fr);
    }
}