/* larger.css */

/* General Header Styles (Desktop) */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: lightblue;
}

.header img.pic {
    height: 50px;
    margin-right: 10px;
}

.header span {
    margin-right: 5px;
}

.header nav.mainNav {
    display: flex;
}

.header nav.mainNav a {
    margin-left: 15px;
    text-decoration: none;
    color: #f0f0f0;
}

/* Hide Hamburger on Larger Screens */
.header .hamburgerInitiate {
    display: none;
}

/* Media Query for Desktop (769px and above) */
@media (min-width: 769px) { /* Adjust breakpoint to match small.css */
    /* Show Navigation on Desktop */
    .header nav.mainNav {
        display: flex;
    }

    /* Hide Hamburger on Desktop */
    .header .hamburgerInitiate {
        display: none;
    }
    /* Main element styling for desktop */
    main {
        flex-direction: row;
    }

    .card-container-large .card {
        width: calc(25% - 20px);
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-right {
        margin-top: 0;
    }
}